* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*################################################--------BODY'S STYLE------------#######################################################################*/
body {
    background-image: linear-gradient(120deg, #030303, rgb(68, 6, 68));
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/*################################################--------FINAL BODY'S STYLE------------#######################################################################*/



/*################################################--------HEADER and FORM STYLE------------#######################################################################*/
header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}
/*################################################--------FORM and BUTTON, INPUTS STYLE ------------#######################################################################*/

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #3d0c31;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #c03db5;
    color: white;
}

/*################################################--------FINAL FORM and BUTTON, INPUTS STYLE ------------#######################################################################*/

/*################################################--------TODO LIST STYLE ------------#######################################################################*/
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
   margin: 0.5rem;
   background: white;
   color: black;
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #920aec;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(235, 163, 235);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

/*################################################--------TODO LIST STYLE ------------#######################################################################*/